@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>MVC 5 EF Code First Approach Application</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Ragini's MVC5 ASP.NET Web Application</h2>
        
           <p>Sample application that
            demonstrates how to use Entity Framework 6 in an
            ASP.NET MVC 5 web application.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Build it from scratch</h2>
      </div>